@font-face {
    font-family: "Jersey15";
    src: url(../fonts/Jersey_15/Jersey15-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jersey25";
    src: url(../fonts/Jersey_25/Jersey25-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Jersey25", Arial, sans-serif !important;
}

.navbar-brand a {
    font-family: "Jersey15", Arial, sans-serif !important;
    font-weight: 400;
    font-size: 64px;
}

.slogan {
    font-size: 64px;
}
