{% extends "base.html" %}

{% block title %}
  About project
{% endblock %}

{% block content %}
  <h1 class='slogan'>Your preferences.</h1>
  <h1 class='text-end slogan'>Your perfect schedule.</h1>
  
  <table class="table">
    <caption>
      Schedule example
    </caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Mon</th>
        <th scope="col">Tue</th>
        <th scope="col">Wed</th>
        <th scope="col">Thu</th>
        <th scope="col">Fri</th>
        <th scope="col">Sat</th>
        <th scope="col">Sun</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">08:00 - 09:00</th>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
    </tr>
    <tr>
      <th scope="row">09:00 - 10:00</th>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
    </tr>
    <tr>
      <th scope="row">10:00 - 11:00</th>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
      <td>Code</td>
    </tr>
  <table>
  
{% endblock %}
