{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Password reset instructions sent
      </div>
      <div class="card-body">
        <p class="text-center">
          We have emailed you instructions for setting a new password to the
          address you provided (if it exists in our database).
          You should receive it shortly.
        </p>
        <p class="text-center">
          If you don’t receive the email, please make sure you entered the
          address you registered with and check your spam folder.
        </p>
        <p class="text-center"><a href="{% url 'homepage' %}">Go to homepage</a></p>
      </div>
    </div>
  </div>
{% endblock %}